In [19]:
import pandas as pd

In [20]:
weather = pd.read_csv('weather_netherlands.csv')
print(weather.head)

<bound method NDFrame.head of                dt  AverageTemperature  AverageTemperatureUncertainty    City  \
0      1960-01-01               2.425                          0.215  Almere
1      1960-02-01               3.083                          0.245  Almere
2      1960-03-01               5.858                          0.347  Almere
3      1960-04-01               8.870                          0.226  Almere
4      1960-05-01              13.088                          0.454  Almere
...           ...                 ...                            ...     ...
15475  2013-05-01              11.464                          0.236  Zwolle
15476  2013-06-01              15.043                          0.261  Zwolle
15477  2013-07-01              18.775                          0.193  Zwolle
15478  2013-08-01              18.025                          0.298  Zwolle
15479  2013-09-01                 NaN                            NaN  Zwolle

           Country Latitude Longitude
0      Netherlands   52.24N     5.26E
1      Netherlands   52.24N     5.26E
2      Netherlands   52.24N     5.26E
3      Netherlands   52.24N     5.26E
4      Netherlands   52.24N     5.26E
...            ...      ...       ...
15475  Netherlands   52.24N     5.26E
15476  Netherlands   52.24N     5.26E
15477  Netherlands   52.24N     5.26E
15478  Netherlands   52.24N     5.26E
15479  Netherlands   52.24N     5.26E

[15480 rows x 7 columns]>

In [21]:
weather = pd.read_csv('weather_netherlands.csv')
print(weather.describe())

       AverageTemperature  AverageTemperatureUncertainty
count        15456.000000                   15456.000000
mean             9.661264                       0.238243
std              5.766642                       0.076062
min             -6.584000                       0.070000
25%              4.847000                       0.185000
50%              9.352000                       0.230000
75%             15.018750                       0.277000
max             22.812000                       0.758000

In [22]:
weather = pd.read_csv('weather_netherlands.csv')
print(weather.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15480 entries, 0 to 15479
Data columns (total 7 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   dt                             15480 non-null  object
 1   AverageTemperature             15456 non-null  float64
 2   AverageTemperatureUncertainty  15456 non-null  float64
 3   City                           15480 non-null  object
 4   Country                        15480 non-null  object
 5   Latitude                       15480 non-null  object
 6   Longitude                      15480 non-null  object
dtypes: float64(2), object(5)
memory usage: 846.7+ KB
None

In [23]:
weather = pd.read_csv('weather_netherlands.csv')
print(weather.tail())

               dt  AverageTemperature  AverageTemperatureUncertainty    City  \
15475  2013-05-01              11.464                          0.236  Zwolle
15476  2013-06-01              15.043                          0.261  Zwolle
15477  2013-07-01              18.775                          0.193  Zwolle
15478  2013-08-01              18.025                          0.298  Zwolle
15479  2013-09-01                 NaN                            NaN  Zwolle

           Country Latitude Longitude
15475  Netherlands   52.24N     5.26E
15476  Netherlands   52.24N     5.26E
15477  Netherlands   52.24N     5.26E
15478  Netherlands   52.24N     5.26E
15479  Netherlands   52.24N     5.26E