# Bleh

leedeedl.

In [6]:
import os
import json
import python_nbt.nbt as nbt

meep

In [7]:
north = []
south = []
west = []

for f in sorted(os.listdir("maurons")):
    file = str(nbt.read_from_nbt_file(os.path.join("maurons", f)))
    f = f.split(".")[0].split("_")[2]
    if "north" in file:
        north.append(f)
    elif "south" in file:
        south.append(f)
    elif "west" in file:
        west.append(f)

res = {
    "north": north,
    "south": south,
    "west": west
}

print(json.dumps(res, indent=4))

del north
del south
del west
del res

{
    "north": [
        "059",
        "112",
        "150",
        "571",
        "611",
        "694",
        "708"
    ],
    "south": [
        "033",
        "062",
        "093",
        "117",
        "172",
        "216",
        "261",
        "263",
        "274",
        "287",
        "292",
        "321",
        "340",
        "390",
        "445",
        "493",
        "524",
        "527",
        "600",
        "629",
        "646",
        "647",
        "754",
        "798",
        "826",
        "872",
        "878",
        "926",
        "986",
        "994",
        "996"
    ],
    "west": [
        "206",
        "376",
        "398",
        "400",
        "896",
        "906"
    ]
}

lalal